# ignore everything by default
*

# allow directories
!*/

# re-ignore unwanted directories
venv/
env/
__pycache__/

# allow files with extension
!*.*

# allow specific no-extension files
!compiler
!storm
!LICENSE
!check
!smfupdate
!Makefile
!makefile*
!setuptermux
!setuplinux
!setupdocker
!setupvenv

# logs & temp
*.log
.DS_Store

# python cache
*.py[cod]
*$py.class

# wordlists besar
*.save

# always allow gitignore itself
!.gitignore

# ignore
lib/core/database/signed_manifest.json

# no ignore all folder
!**/vendor/**
!**/example/**

