# Detect all languages
*.py linguist-detectable=true
*.go linguist-detectable=true
*.c linguist-detectable=true
*.h linguist-detectable=true
*.json linguist-detectable=true
*.sh linguist-detectable=true
